MYSQL_ROOT_PASSWORD=change-this-password

APP_SECURITY_USERNAME=green
APP_SECURITY_PASSWORD=change-this-password

MAIL_NOTIFICATIONS_ENABLED=false
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_TO=devops@example.com